WEB_PROVER_API_SECRET=
ZK_PROVER_API_SECRET=
NEXT_PUBLIC_SEPOLIA_CONTRACT_ADDRESS=
NEXT_PUBLIC_DEFAULT_CHAIN_ID=
ZK_PROVER_GUEST_ID="0x06696b24cc8dc2358e515a713f9a57b6bcb9b425e14a3faef58c276d022a5833"