name: E2E
on:
  push:
    # branches:
    #   - main
  merge_group:
  pull_request:
    branches: ["main"]
  repository_dispatch:
    types: [zk-prover-release]
concurrency:
  # Do not cancel jobs on main by forcing a unique group name.
  group: ${{ github.workflow }}-${{ github.ref_name == 'main' && github.run_id || github.ref_name }}
  cancel-in-progress: true

jobs:
  e2e:
    if: github.repository == 'vlayer-xyz/zk-github-contribution-verifier'
    runs-on: ubuntu-latest
    steps:
      - run: exit 1