name: E2E
on:
  push:
    branches:
      - main
  merge_group:
  pull_request:
    branches: ["main"]
  repository_dispatch:
    types: [zk-prover-release]
concurrency:
  # Do not cancel jobs on main by forcing a unique group name.
  group: ${{ github.workflow }}-${{ github.ref_name == 'main' && github.run_id || github.ref_name }}
  cancel-in-progress: true

jobs:
  e2e:
    if: github.repository == 'vlayer-xyz/zk-github-contribution-verifier'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: npm install
      - name: Install dependencies in contracts
        run: npm install
        working-directory: contracts
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly-ac81a53d1d5823919ffbadd3c65f081927aa11f2 # 2024-12-02
      - name: Install Soldeer dependencies
        run: forge soldeer install
        working-directory: contracts
      - name: Run E2E tests
        run: npm run test:e2e
        env:
          GITHUB_TOKEN: ${{ github.token }}
          
          # Web Prover
          WEB_PROVER_API_CLIENT_ID: ${{ secrets.WEB_PROVER_API_CLIENT_ID }}
          WEB_PROVER_API_SECRET: ${{ secrets.WEB_PROVER_API_SECRET }}
          WEB_PROVER_API_URL: https://web-prover.vlayer.xyz/api/v1

          # ZK Prover
          ZK_PROVER_API_URL: "https://zk-prover.vlayer.xyz/api/v0"
          ZK_PROVER_GUEST_ID: "0x6a555e28e0d59c20ad0dc76dfa07328f2f68638827dafef87178b306fb02e608"
